In [1]:
# Import login values from config
from configparser import *

In [2]:
# Import packages needed
from snowflake.snowpark import Session
from snowflake.snowpark.functions import *
from snowflake.snowpark.types import *
from snowflake.snowpark import Window
import pandas as pd
from urllib import request
from bs4 import BeautifulSoup
from urllib.request import urlopen
import re

In [3]:
import sys, json
with open("connection_parameters_prod.json") as jsonfile:
    credentials_dict = json.load(jsonfile)

In [4]:
def snowpark_session_create():
    session = Session.builder.configs(credentials_dict).create()
    return session

In [5]:
demo_session = snowpark_session_create()

In [7]:
demo_session.use_database("SNF_MDRAZ")
demo_session.use_schema("bronze")

In [18]:
kna = demo_session.sql("select * from snf_mdraz.staging.kna1")

In [23]:
df = kna[['INDEX','KUNNR','GENDE','NAME1','NAME2','STRAS','ORT01','PSTLZ','LAND1','LAND2','RSCON','TELF1','REGIO','BIRTH','LATI','LONG']]

In [24]:
df.show()

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"INDEX"    |"KUNNR"   |"GENDE"  |"NAME1"   |"NAME2"     |"STRAS"                  |"ORT01"            |"PSTLZ"   |"LAND1"  |"LAND2"         |"RSCON"                             |"TELF1"        |"REGIO"  |"BIRTH"     |"LATI"     |"LONG"     |
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|1172351.0  |C1272351  |Female   |Emina     |Schulting   |Via Enrico Fermi 86      |Rubiana            |10040     |IT       |Italy           |EminaSchulting@fleckens.hu          |0345 1348434   |39.0     |1969/01/24  |44.765174  |7.875138   |
|1172353.0  |C1272353  |NULL     |Casio     |Otero       |Ctra. de Siles 33        |O Incio            |27346     |ES       |NULL            |CasioOteroZarate@teleworm.us        |761 372 690    |34.0     |1982/02/18  |42.636375  |-7.415328  |
|1172356.0  |NULL      |Female   |Lidu?ina  |Garrido     |Pl. Virgen Blanca 73     |Gironella          |8680      |ES       |Spain           |LiduvinaGarridoSarabia@teleworm.us  |783 773 385    |34.0     |1985/01/03  |41.984137  |1.805213   |
|1172357.0  |C1272357  |Female   |Fiona     |Baeza       |Caño 72                  |Muíños             |32880     |ES       |Spain           |FionaBaezaDavila@dayrep.com         |679 176 339    |34.0     |1954/12/19  |42.044766  |-7.941031  |
|1172358.0  |C1272358  |Other    |William   |Jordan      |88 Hampton Court Rd      |SPARKFORD          |BA22 0ZQ  |GB       |United Kingdom  |WilliamJordan@armyspy.com           |078 2981 1163  |44.0     |NULL        |50.93764   |-2.609986  |
|1172361.0  |C1272361  |Female   |Alissa    |Yáñez       |El Roqueo 13             |Boqueixón          |15881     |ES       |NULL            |AlissaYanezGuevara@armyspy.com      |720 072 986    |34.0     |1991/05/16  |42.960205  |-8.604261  |
|1172362.0  |C1272362  |Male     |Gay       |Collazo     |C/ Henan Cortes 88       |Cubas de la Sagra  |28978     |ES       |Spain           |GayCollazoSaenz@einrot.com          |755 738 289    |34.0     |2001/12/09  |40.087911  |-3.746706  |
|1172365.0  |C1272365  |Female   |Julia     |Nilsson     |Skolspåret 72            |KLINTEHAMN         |620 20    |SE       |Sweden          |JuliaNilsson@rhyta.com              |0498-5895346   |46.0     |1991/04/02  |57.459221  |NULL       |
|1172368.0  |C1272368  |Male     |Adriano   |Zetticci    |Via Matteo Schilizzi 36  |Ronco Scrivia      |16019     |IT       |Italy           |AdrianoZetticci@armyspy.com         |0373 1343143   |39.0     |1990/03/08  |44.501394  |8.861017   |
|1172371.0  |C1272371  |Male     |Josh      |Whitehouse  |NULL                     |THORNHILL          |FK8 7BT   |GB       |United Kingdom  |JoshWhitehouse@dayrep.com           |078 8994 8520  |44.0     |1988/07/26  |55.86685   |-3.744735  |
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [37]:
df = kna.select(
    "index","kunnr","GENDE","NAME1","NAME2","STRAS","ORT01","PSTLZ","LAND1","LAND2","RSCON","TELF1","REGIO","BIRTH","LATI","LONG"
    )

In [38]:
df.show()

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"INDEX"    |"KUNNR"   |"GENDE"  |"NAME1"   |"NAME2"     |"STRAS"                  |"ORT01"            |"PSTLZ"   |"LAND1"  |"LAND2"         |"RSCON"                             |"TELF1"        |"REGIO"  |"BIRTH"     |"LATI"     |"LONG"     |
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|1172351.0  |C1272351  |Female   |Emina     |Schulting   |Via Enrico Fermi 86      |Rubiana            |10040     |IT       |Italy           |EminaSchulting@fleckens.hu          |0345 1348434   |39.0     |1969/01/24  |44.765174  |7.875138   |
|1172353.0  |C1272353  |NULL     |Casio     |Otero       |Ctra. de Siles 33        |O Incio            |27346     |ES       |NULL            |CasioOteroZarate@teleworm.us        |761 372 690    |34.0     |1982/02/18  |42.636375  |-7.415328  |
|1172356.0  |NULL      |Female   |Lidu?ina  |Garrido     |Pl. Virgen Blanca 73     |Gironella          |8680      |ES       |Spain           |LiduvinaGarridoSarabia@teleworm.us  |783 773 385    |34.0     |1985/01/03  |41.984137  |1.805213   |
|1172357.0  |C1272357  |Female   |Fiona     |Baeza       |Caño 72                  |Muíños             |32880     |ES       |Spain           |FionaBaezaDavila@dayrep.com         |679 176 339    |34.0     |1954/12/19  |42.044766  |-7.941031  |
|1172358.0  |C1272358  |Other    |William   |Jordan      |88 Hampton Court Rd      |SPARKFORD          |BA22 0ZQ  |GB       |United Kingdom  |WilliamJordan@armyspy.com           |078 2981 1163  |44.0     |NULL        |50.93764   |-2.609986  |
|1172361.0  |C1272361  |Female   |Alissa    |Yáñez       |El Roqueo 13             |Boqueixón          |15881     |ES       |NULL            |AlissaYanezGuevara@armyspy.com      |720 072 986    |34.0     |1991/05/16  |42.960205  |-8.604261  |
|1172362.0  |C1272362  |Male     |Gay       |Collazo     |C/ Henan Cortes 88       |Cubas de la Sagra  |28978     |ES       |Spain           |GayCollazoSaenz@einrot.com          |755 738 289    |34.0     |2001/12/09  |40.087911  |-3.746706  |
|1172365.0  |C1272365  |Female   |Julia     |Nilsson     |Skolspåret 72            |KLINTEHAMN         |620 20    |SE       |Sweden          |JuliaNilsson@rhyta.com              |0498-5895346   |46.0     |1991/04/02  |57.459221  |NULL       |
|1172368.0  |C1272368  |Male     |Adriano   |Zetticci    |Via Matteo Schilizzi 36  |Ronco Scrivia      |16019     |IT       |Italy           |AdrianoZetticci@armyspy.com         |0373 1343143   |39.0     |1990/03/08  |44.501394  |8.861017   |
|1172371.0  |C1272371  |Male     |Josh      |Whitehouse  |NULL                     |THORNHILL          |FK8 7BT   |GB       |United Kingdom  |JoshWhitehouse@dayrep.com           |078 8994 8520  |44.0     |1988/07/26  |55.86685   |-3.744735  |
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [51]:
df = df.fillna({"index":-99,"KUNNR":"NA"})

In [ ]:
df['inde']

In [53]:
print(df.dtypes)

[('INDEX', 'double'), ('KUNNR', 'string(16777216)'), ('GENDE', 'string(16777216)'), ('NAME1', 'string(16777216)'), ('NAME2', 'string(16777216)'), ('STRAS', 'string(16777216)'), ('ORT01', 'string(16777216)'), ('PSTLZ', 'string(16777216)'), ('LAND1', 'string(16777216)'), ('LAND2', 'string(16777216)'), ('RSCON', 'string(16777216)'), ('TELF1', 'string(16777216)'), ('REGIO', 'double'), ('BIRTH', 'string(16777216)'), ('LATI', 'double'), ('LONG', 'double')]

In [ ]:
#row by row insert, very slow
session.sql("BEGIN TRANSACTION")
try:
        for row in df_source.iterrows():
                insert_sql = f"""
                    insert into snf_mdraz.bronze.kna1 (INDEX,KUNNR,GENDE,NAME1,NAME2,STRAS,ORT01,PSTLZ,LAND1,LAND2,RSCON,TELF1,REGIO,BIRTH,LATI,LONG,LASTMODIFIED) 
                    VALUES({row[0]},
                            '{row['KUNNR']}',
                            '{row['GENDE']}',
                            '{row['NAME1']}',
                            '{row['NAME2']}',
                            '{row['STRAS']}',
                            '{row['ORT01']}',
                            '{row['PSTLZ']}',
                            '{row['LAND1']}',
                            '{row['LAND2']}',
                            '{row['RSCON']}',
                            '{row['TELF1']}',
                            '{row['REGIO']}',
                            '{row['BIRTH']}',
                            '{row['LATI']}',
                            '{row['LONG']}',
                            '{row['LASTMODIFIED']}')
                    """
                session.sql(insert_sql).collect()
        session.sql("Commit")
except Exception as e:
        session.sql("Rollback")
        print(f"Error encountered: {e}. All inserts have been rolled back.")
    #print(insert_sql)